option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebdjango.wsgi:application
  aws:elasticbeanstalk:application:environment:
    EVOE_KEY=dshjfka2389rkasfo8sd33f
    EVOE_DB_USER=leonardo
    EVOE_DB_PASS=216885fd
    EVOE_DB_HOST=araleo.cbivythes9nc.us-east-2.rds.amazonaws.com
packages:
  yum:
    libpq-dev: []
