<!-- Página de detalhe de cada ToDo -->


{% extends 'todo/layout.html' %}
 
{% block content %}

    {% include 'todo/topbar.html' %}

    <div class="detail-content">

        <!-- Detalhes -->
        <div class="todo-detail">
            <h2>{{ todo.todo }}</h2>
            {% if todo.description %}<p>{{ todo.description }}</p>{% endif %}
            <p>Importante: {{ todo.e_importante }}</p>
            <p>Criação: {{ todo.created_at }}</p>
            <p>Última edição: {{ todo.last_modified_at }}</p>
            {% if todo.is_completed %}<p>Finalizada em: {{ todo.completed_at }}</p>{% endif %}
            {% if todo.is_deleted %}<p>Deletada em: {{ todo.deleted_at }}</p>{% endif %}
        </div>

        <!-- Botões -->
        <div class="btns-detail">
            <form class="" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="todo_pk" class="hidden-input" value="{{ todo.id }}">
                <!-- Excluir -->
                <button type="submit" name="btndelete" id="btn-delete-{{ todo.id }}">Excluir</button>
                <!-- Editar -->
                <button type="button" name="btnedit" id="btn-edit-{{ todo.id }}">Editar</button>
                <!-- Concluir -->
                <button 
                    type="submit" name="btncomplete" id="btn-complete-{{ todo.id }}"
                    {% if todo.is_completed %} style="display: none;" {% endif %}
                >
                    Concluir
                </button>
            </form>
        </div>

        <!-- Formulário editar todo -->
        <div id="div-edit-todo">
            {% include 'todo/form.html' %}
        </div>

    </div>

{% endblock %}
