<div class="todo-form">
    <form action="" method="post">
        {% csrf_token %}

        <div class="upper-form">
            {{ form.todo.errors }}
            {{ form.todo }}
            {{ form.important.errors }}
            <label for="{{ form.important.id_for_label }}">Importante</label>
            {{ form.important }}
            <button type="submit" name="btn-save-todo" id="btn-save-todo">Salvar</button>
        </div>

        <div class="lower-form">
            {{ form.description.errors }}
            {{ form.description }}
        </div>

    </form>
</div>
