{% extends 'todo/layout.html' %}

{% block content %}
    <h1>{{ user.username }}'s ToDo List</h1>

    <!-- Início formulário novo todo -->
    <div class="create-todo">
        <form action= "" method="post">
            {% csrf_token %}
                <div class="upper-form">
    
                {{ form.todo.errors }}
                {{ form.todo }}
    
                {{ form.important.errors }}
                <label for="{{ form.important.id_for_label }}">Importante</label>
                {{ form.important }}
    
                <button type="submit" name="button" id="botao-save-todo">Salvar</button>
            </div>
    
            <div class="lower-form">
                {{ form.description.errors }}
                {{ form.description }}
            </div>
    
        </form>
    </div>
    <!-- Fim formulário novo todo -->


    <!-- inicio lista de todos -->
    <div class="list-todos">
        <ul>

        {% for todo in todos %}
        <li>
            <div class="each-todo" id="{{ todo.id }}">

                <div class="upper-todo-div">

                    <!-- botao excluir todo -->
                    <form class="" action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="todo_pk" class="hidden-input" value="{{ todo.id }}">
                        <button type="submit" name="botaoexcluir" id="botao-excluir-{{ todo.id }}">
                            <i class="far fa-trash-alt"></i>Excluir
                        </button>
                    </form>

                    <!-- todo -->
                    {% if todo.important %} <b> {% endif %}
                    <p>{{ todo.todo }}</p>
                    {% if todo.important %} </b> {% endif %}

                   <!-- botao concluir todo -->
                   <form class="" action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="todo_pk" class="hidden-input" value="{{ todo.id }}">
                    <button type="submit" name="botaoconcluir" id="botao-concluir-{{ todo.id }}">
                        <i class="far fa-trash-alt"></i>Concluir
                    </button>
                </form>


                </div>

                <!-- descrição todo -->
                {% if todo.description %}
                <div class="lower-todo-div">
                    <p>{{ todo.description }}</p>
                </div>
                {% endif %}

            </div>
        </li>
        {% endfor %}

        </ul>
    </div>
    <!-- fim lista de todos -->


{% endblock %}
