<!-- Lista com ToDos pendentes e concluídos -->

<div class="list-todos">
    
    <h2>Pendentes</h2>
    {% if pending %}
    <ul>
        {% for todo in pending %}
        <a href="{% url 'todo:detail' todo.id %}">
            <li>
                {% include 'todo/todo.html' %}
            </li>
        </a>
        {% endfor %}
    </ul>
    {% else %}
        <p class="no-tasks-p">Sem tarefas pendentes.</p>
    {% endif %}

    <h2>Concluídos</h2>
    {% if completed %}
    <ul>
        {% for todo in completed %}
        <a href="{% url 'todo:detail' todo.id %}">
        <li>
            {% include 'todo/todo.html' %}
        </li>
        </a>
        {% endfor %}
    </ul>
    {% else %}
        <p class="no-tasks-p">Sem tarefas concluídas.</p>
    {% endif %}

</div>