<div class="each-todo" id="{{ todo.id }}">

    <div class="upper-todo-div">

        <!-- botao excluir todo -->
        <form id="btn-delete-todo-home" action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="todo_pk" class="hidden-input" value="{{ todo.id }}">
            <button type="submit" name="btndelete" id="btn-delete-{{ todo.id }}">Excluir</button>
        </form>

        <!-- todo -->
        <div id="div-p-todo">
            <p id="p-todo-home">
                {% if todo.important %} <b> {% endif %}
                    {{ todo.todo }}
                {% if todo.important %} </b> {% endif %}
            </p>
        </div>

        <!-- botao concluir todo -->
        <form id="btn-complete-todo-home" action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="todo_pk" class="hidden-input" value="{{ todo.id }}">
            <button 
                type="submit" 
                name="btncomplete" 
                id="btn-complete-{{ todo.id }}" 
                {% if todo.is_completed %} style="visibility: hidden;" {% endif %}
            >
                Concluir
            </button>
        </form>

    </div>

    <!-- descrição todo -->
    {% if todo.description %}
    <div class="lower-todo-div">
        <p>{{ todo.description }}</p>
    </div>
    {% endif %}

</div>