/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Open Sans', sans-serif; 
*/


/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif; 
}

:root {
    --corPrincipalHex: #554BFF;
    --corPrincipalRgba: rgba(85, 75, 255, 0.2);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    margin-top: 1em;
}

.todo-form ::placeholder {
    color: var(--corPrincipalHex);
}

button {
    border: 1px solid var(--corPrincipalHex);
    background-color: white;
    color: var(--corPrincipalHex);
    padding: .3em .6em;
    cursor: pointer;

}

.btn-mouse-out {
    border: 1px solid var(--corPrincipalHex);
    background-color: white;
    color: var(--corPrincipalHex);
}

.btn-mouse-over {
    border: 1px solid white;;
    background-color: var(--corPrincipalHex);
    color: white;
}


/* Home */

#main-title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em;
}

.home-content .todo-form {
    width: 50%;
    margin: 2em auto;
    min-width: 500px;
    max-width: 600px;
}

.home-content .todo-form div {
    text-align: center;
}

.home-content .todo-form .upper-form input {
    margin: 0 .5em;
}

.home-content .todo-form .upper-form input[type=text] {
    width: 50%;
}

.home-content .todo-form .lower-form input[type=text] {
    margin-top: .5em;
    width: 100%;
}

.home-content .list-todos {
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    margin: 0 auto;
}

.home-content .list-todos ul {
    list-style-type: none;
}

.home-content .list-todos h2 {
    text-align: center;
    margin-top: 3em;
    color: var(--corPrincipalHex);
    font-weight: 400;
}

.home-content .list-todos .each-todo {
    box-shadow: 2px 2px 2px 1px var(--corPrincipalRgba);
    margin: 1em auto;
    padding: 5px;
}

.home-content .list-todos .each-todo .upper-todo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content .list-todos .each-todo .lower-todo-div {
    text-align: center;
}

.home-content .no-tasks-p {
    text-align: center;
    margin-top: 1em;
}


/* Detail  */

.detail-content .todo-detail {
    width: 500px;    
    margin: 1em auto;
}

.detail-content .todo-detail h2 {
    text-align: center;
}

.detail-content .todo-detail p {
    margin-top: .75em;
}

.detail-content .btns-detail {
    width: 500px;
    margin: 0 auto;
}

#div-edit-todo {
    display: none;
}

.detail-content form {
    width: 500px;
    margin: 2em auto;
}

.detail-content .btns-detail form {
    display: flex;
    justify-content: space-around;
}

.detail-content .todo-form {
    text-align: center;
}

.detail-content .todo-form .upper-form input[type=text] {
    width: 50%;
}

.detail-content .todo-form .lower-form input[type=text] {
    width: 90%;
}


/* Register */

.register-form {
    width: 50%;
    margin: 3em auto;
    text-align: left;
}

.register-form table {
    width: 100%;
}

.register-form .helptext {
    display: none;
}

.register-form button {
    text-align: center;
}

.register-form p {
    margin-top: 2em;
}

#register-login-link {
    text-decoration: underline;
    color: blue;
}


/* Login */

.login-form {
    width: 50%;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form form {
    margin-top: 2em;
}

#login-register-link {
    text-decoration: underline;
    color: blue;
}
