/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	vertical-align: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    margin-top: 1em;
}


/* Home */

.home-content .todo-form {
    width: 50%;
    margin: 2em auto;
    min-width: 500px;
    max-width: 600px;
}

.home-content .todo-form div {
    text-align: center;
}

.home-content .todo-form .upper-form input {
    margin: 0 .5em;
}

.home-content .todo-form .upper-form input[type=text] {
    width: 50%;
}

.home-content .todo-form .lower-form input[type=text] {
    margin-top: .5em;
    width: 100%;
}

.home-content .list-todos h2 {
    text-align: center;
    margin-top: 3em;
}

.home-content .list-todos .each-todo {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 1em auto;
    padding: 5px;
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
}

.home-content .list-todos .each-todo .upper-todo-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content .list-todos .each-todo .lower-todo-div {
    text-align: center;
}


/* Detail  */

.detail-content .todo-detail {
    width: 500px;    
    margin: 1em auto;
}

.detail-content .todo-detail h2 {
    text-align: center;
}

.detail-content .todo-detail p {
    margin-top: .75em;
}

.detail-content .btns-detail {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.detail-content form {
    width: 500px;
    margin: 2em auto;
}

.detail-content .todo-form {
    text-align: center;
}

.detail-content .todo-form .upper-form input[type=text] {
    width: 50%;
}

.detail-content .todo-form .lower-form input[type=text] {
    width: 90%;
}


/* Register */

.register-form {
    width: 50%;
    margin: 3em auto;
    text-align: left;
}

.register-form table {
    width: 100%;
}

.register-form .helptext {
    display: none;
}

.register-form button {
    text-align: center;
}
